.input,
.select
  display block
  width 100%
  padding 14px 20px
  font-size 1rem
  line-height 1.3rem
  font-weight 500
  border 1px solid transparent
  border-radius 6px
  shadow-big()

  &:hover
    border-color app_color_brand

  &--warning
    border-color app_color_warning
    color app_color_warning

    &:hover,
    &::placeholder
      border-color app_color_warning
