.input
  padding 15px 20px
  font-size 1rem
  line-height 1.3rem
  font-weight 500
  border none
  border-radius 6px
  box-shadow()

  &--search
    width 100%
    padding-left 55px

  &--select
    width 100%
    padding-right 25px
    box-sizing inherit
    appearance none
    font-size 0.8rem
    line-height 0.9rem
