.menu
  margin-bottom 20px

  h1
    margin 0
    font-weight 700
    font-size 2.6rem
    line-height 3.2rem

  &__row
    display flex
    justify-content space-between
    margin-bottom 40px

    &:last-child
      margin-bottom 0

  &__search-field,
  &__sort-field
    display flex
    position relative

    &::before
      content ""
      position absolute
      top 50%
      width 20px
      height 20px
      transform translate(0, -50%)

  &__search-field
    width 980px

    &::before
      left 20px
      background url("../../../public/img/icons/search-icon.svg") no-repeat

  &__sort-field
    width 180px

    &::before
      right 20px
      background url("../../../public/img/icons/sort-icon.svg") no-repeat
