.student-form
  padding-top 28px

  & fieldset
    display flex
    margin 0 0 30px 0
    padding 0
    border none

  &__col
    width 100%
    margin 0 0 20px 0

    &:last-child
      margin-bottom 0

  &__questions
    display flex
    flex-wrap wrap

  & button[type="submit"]
      width 100%

  &__question
    margin-bottom 20px

    & label
      display block
      margin-bottom 8px
      font-weight 500

    &:last-child
      margin-bottom 0

    &--warning .input,
    &--warning .select input
      color app_color_warning

      &::placeholder
        color app_color_warning

      &:hover,
      &:active,
      &:focus
        color app_color_text

        &::placeholder
          color app_color_placeholder

    &--warning .input,
    &--warning .select
      border-color app_color_warning
      animation headShake
      animation-duration 1s

      &:hover,
      &:active,
      &:focus
        border-color app_color_brand

@media(min-width width_desktop)
  .student-form

    & fieldset
      margin-bottom 40px

    &__questions
      flex-wrap nowrap

    &__col
      width 380px
      margin 0 100px 0 0

      &:last-child
        margin-right 0

    & button[type="submit"]
        width 380px
