.student-form
  padding-top 28px

  & fieldset
    display flex
    margin 0 0 40px 0
    padding 0
    border none

  &__avatar
    position relative
    width 82px
    height 82px
    margin-right 20px
    border 2px solid rgba(255, 255, 255, 0.6)
    border-radius 50%
    shadow-small()
    overflow hidden

    & img
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 100%

  &__avatar-dropzone

      &--dragged-over
        opacity 0.6

        & label
          color app_color_brand

  &__avatar-upload
      display flex
      flex-direction column
      justify-content center

      & label
        text-decoration underline
        margin-bottom 8px

        &:hover
          color app_color_brand
          opacity 0.6

      & input[type="file"]
        display none

  &__col
    width 380px
    margin 0 120px 0 0

    &:last-child
      margin-right 0

  &__question
    margin-bottom 20px

    & label
      display block
      margin-bottom 8px

    &:last-child
      margin-bottom 0

  & button[type="submit"]
      width 380px
