.card
  display flex
  align-items center
  justify-content space-between
  margin-bottom 24px

  &:last-child
    margin-bottom 0

  &__avatar
    box-sizing border-box
    width 40px
    height 40px

  &__name,
  &__spec
    width 26%

  &__group,
  &__age,
  &__rating
    width 7%

  &__avatar,
  &__delete-btn
    border 2px solid rgba(255, 255, 255, 0.6)
    border-radius 50%

  &__delete-btn
    box-sizing border-box
    width 30px
    height 30px

  &__delete-btn
    background white url("../../img/icons/trash-icon.svg") no-repeat center center
    shadow-small()
    cursor pointer

    &:hover,
    &:active
      opacity 0.6
