@font-face
	font-family 'Geometria-Regular'
	font-display swap
	src: url('../../../public/fonts/Geometria-Regular.woff2') format('woff2'),
	    url('../../../public/fonts/Geometria-Regular.woff') format('woff')

html, body
	font-family 'Geometria-Regular', Arial, sans-serif
	font-size 15px
	line-height 20px
