.logo
  display flex
  align-items center

  img
    margin 0 45px 0 0

  a
    font-weight 600
    font-size 1.4rem
    line-height 3rem
    text-decoration none
    color app_color_text

    &:hover,
    &:active
      opacity 0.6

    span
      color app_color_brand


