.select
  position relative
  border 1px solid transparent
  border-radius 6px
  shadow-big()
  cursor pointer

  &::after
    content ""
    position absolute
    top 50%
    right 20px
    width 10px
    height 7px
    transform translate(0, -50%)
    background url("../../img/icons/arrow-select-icon.svg") no-repeat center center

  &:hover
    border-color app_color_brand

  & input[readonly]
    border none
    border-radius 6px
    box-sizing border-box
    padding 14px 20px
    width 100%
    height 100%
    font-size 1rem
    font-weight 500
    cursor pointer

.select__options
  display none
  position absolute
  box-sizing border-box
  top calc(100% + 6px)
  left 0
  width 100%
  margin 0
  padding 10px
  background-color white
  border-radius 6px
  list-style none
  z-index 1
  shadow-big()

  & li
    margin-bottom 10px

    &:last-child
      margin-bottom 0

  &--opened
    display flex
    flex-direction column

.select--opened

  &::after
    transform rotate(180deg)
    transition 0.3s

.select--color

  .select__options

    & li
      margin 10px 0

    &--opened
      flex-direction row
      justify-content space-between

.select__option
  position relative
  padding 8px 12px
  border-radius 6px
  transition background 0.3s

  &--active::after
    content ""
    position absolute
    top 50%
    right 20px
    width 10px
    height 8px
    background url("../../img/icons/tick-icon.svg") no-repeat center center
    transform translate(0, -50%)

  &--active,
  &:focus,
  &:hover
    background-color app_color_brand--light

.select__option-color

  .fav-color
    width 30px
    height 30px

  &--active .fav-color,
  &:focus .fav-color,
  &:hover .fav-color
    shadow-small()
