.student-form
  padding-top 28px

  & fieldset
    display flex
    margin 0 0 30px 0
    padding 0
    border none

  &__col
    width 100%
    margin 0 0 20px 0

    &:last-child
      margin-bottom 0

  &__questions
    display flex
    flex-wrap wrap

  &__avatar
    position relative
    width 82px
    height 82px
    margin-right 20px
    border 2px solid rgba(255, 255, 255, 0.6)
    border-radius 50%
    shadow-small()
    overflow hidden

    & img
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      width 100%

  &__avatar-dropzone

      &--dragged-over
        opacity 0.6

        & label
          color app_color_brand

  &__avatar-upload
      display flex
      flex-direction column
      justify-content center

      & label
        text-decoration underline
        margin-bottom 8px

        &:hover
          color app_color_brand
          opacity 0.6

      & input[type="file"]
        hide()

        &:focus + label[for="avatar"],
        & input[type="file"] + label[for="avatar"]:active
          color app_color_brand
          opacity 0.6

  & button[type="submit"]
      width 100%

  &__question
    margin-bottom 20px

    & label
      display block
      margin-bottom 8px
      font-weight 500

    &:last-child
      margin-bottom 0

    &--warning .input,
    &--warning .select input
      color app_color_warning

      &::placeholder
        color app_color_warning

      &:hover,
      &:active,
      &:focus
        color app_color_text

        &::placeholder
          color app_color_placeholder

    &--warning .input,
    &--warning .select
      border-color app_color_warning
      animation headShake
      animation-duration 1s

      &:hover,
      &:active,
      &:focus
        border-color app_color_brand

@media(min-width width_desktop)
  .student-form

    & fieldset
      margin-bottom 40px

    &__questions
      flex-wrap nowrap

    &__col
      width 380px
      margin 0 100px 0 0

      &:last-child
        margin-right 0

    & button[type="submit"]
        width 380px
