// mixins
shadow-big()
  box-shadow 0px 7px 64px 0px app_color_shadow

shadow-small()
  box-shadow 0px 2px 16px 0px app_color_shadow

random(min, max)
  return floor(math(0, 'random')*(max - min + 1) + min)

// bounds()
//   background rgba(random(1, 255), random(1, 255), random(1, 255), 0.3)
//   outline 1px solid rgb(random(1, 255), random(1, 255), random(1, 255))

hide()
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  clip rect(0 0 0 0)
  overflow hidden
