app_color_text = #000000
app_color_brand = #49C2E8
app_color_warning = #E25B5B

fav_color_1 = #49C2E8
fav_color_2 = #E25B5B
fav_color_3 = #83C872
fav_color_4 = #F7FB53
fav_color_5 = #000000
fav_color_6 = #EFA638
fav_color_rainbow = tomato
