// mixins
box-shadow()
  box-shadow 0px 7px 64px 0px rgba(0, 0, 0, 0.1)

// application colors
app_color_text = #000000
app_color_brand = #49C2E8
app_color_warning = #E25B5B

// favorite colors
fav_color_blue = #49C2E8
fav_color_red = #E25B5B
fav_color_green = #83C872
fav_color_yellow = #F7FB53
fav_color_black = #000000
fav_color_orange = #EFA638
fav_color_rainbow = tomato
