@import "./const.styl"

@font-face
  font-family 'Geometria-Regular'
  font-display swap
  src: url('./fonts/Geometria-Regular.woff2') format('woff2'),
      url('./fonts/Geometria-Regular.woff') format('woff')

html, body
  font-family 'Geometria-Regular', Arial, sans-serif
  font-size 15px
  line-height 20px
  color app_color_text

body
  margin 0

h1
  margin 0
  font-weight 700
  font-size 2.6rem
  line-height 3.2rem

.visually-hidden
  position absolute
  width 1px
  height 1px
  margin -1px
  border 0
  padding 0
  white-space nowrap
  clip-path inset(100%)
  clip rect(0 0 0 0)
  overflow hidden

@import "./components/fav-color/fav-color.styl"
@import "./components/button/button.styl"
@import "./components/input/input.styl"
@import "./components/select/select.styl"
@import "./components/container/container.styl"
@import "./components/header/header.styl"
@import "./components/logo/logo.styl"
@import "./components/menu/menu.styl"
@import "./components/students/students.styl"
@import "./components/student-card/student-card.styl"
@import "./components/navigation/navigation.styl"
@import "./components/student-form/student-form.styl"
